Groupe_Localisation/FluxNodeRed.json
[
    {
        "id": "e10d9c4aa7902102",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9f302339d0c7451",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.object.mydata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 440,
        "wires": []
    },
    {
        "id": "53eafd0c8d743f08",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 4",
        "func": "const axios = global.get('axios');\n\nfunction send_to_database(values) {\n    const url = \"http://sae51.rt-blagnac.fr/api/api.php\";\n    const data = {\n        token: \"zfLMqQseDneEogUe52avGbBdJ8RATdCi9B4eag8cjPy8Qu82qkdffFYXwCcz3n3kV6K9wAeQY2nA6a6UGK38syHwLLfu632FoJ6X\",\n        values: values.join(',')\n    };\n\n    const headers = {\n        'Content-Type': 'application/x-www-form-urlencoded'\n    };\n\n    axios.post(url, data, { headers })\n        .then((response) => {\n            if (response.status === 201) {\n                // Request successful\n            }\n        })\n        .catch((error) => {\n            console.error(`Error ${error.response.status}: ${error.response.data}`);\n        });\n}\n\n// 1 = INFO, 2 = Action, 3 = CRITICAL ALERT\nvar presence = msg.payload.object.mydata.Presence\nvar batteryLevel = msg.payload.object.mydata.Battery\nif (batteryLevel > 50) {\n    const values = [1, batteryLevel, \"BATTERIE\", 1];\n    send_to_database(values);\n} else if (batteryLevel <= 50 && batteryLevel > 25) {\n    const values = [1, batteryLevel, \"BATTERIE\", 2];\n    send_to_database(values);\n} else if (batteryLevel <= 25) {\n    const values = [1, batteryLevel, \"BATTERIE\", 3];\n    send_to_database(values);\n}\nconst values = [1, presence, \"\", 1];\nsend_to_database(values);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b84d9bde93b0053b",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.object.mydata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b4f878f031c2322",
        "type": "mqtt in",
        "z": "e10d9c4aa7902102",
        "name": "",
        "topic": "application/11/device/0c7e450102030344/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2fcd7b1431a62f13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "9b39e63956dad801"
            ]
        ]
    },
    {
        "id": "1cda06f0f7c34d5a",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.object.mydata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 640,
        "wires": []
    },
    {
        "id": "d8125fdc8f607ac8",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 7",
        "func": "const axios = global.get('axios');\n\nfunction send_to_database(values) {\n    const url = \"http://sae51.rt-blagnac.fr/api/api.php\";\n    const data = {\n        token: \"zfLMqQseDneEogUe52avGbBdJ8RATdCi9B4eag8cjPy8Qu82qkdffFYXwCcz3n3kV6K9wAeQY2nA6a6UGK38syHwLLfu632FoJ6X\",\n        values: values.join(',')\n    };\n\n    const headers = {\n        'Content-Type': 'application/x-www-form-urlencoded'\n    };\n\n    axios.post(url, data, { headers })\n        .then((response) => {\n            if (response.status === 201) {\n                // Request successful\n            }\n        })\n        .catch((error) => {\n            console.error(`Error ${error.response.status}: ${error.response.data}`);\n        });\n}\n\n// 1 = INFO, 2 = Action, 3 = CRITICAL ALERT\nvar presence = msg.payload.object.mydata.Presence;\nvar batteryLevel = msg.payload.object.mydata.Battery;\nif (batteryLevel > 50) {\n    const values = [2, batteryLevel,\"BATTERIE\", 1];\n    send_to_database(values);\n} else if (batteryLevel <= 50 && batteryLevel > 25) {\n    const values = [2, batteryLevel, \"BATTERIE\", 2];\n    send_to_database(values);\n} else if (batteryLevel <= 25) {\n    const values = [2, batteryLevel, \"BATTERIE\", 3];\n    send_to_database(values);\n}\nconst values= [2, presence,\"\",1];\nsend_to_database(values);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "aa5146443ae6c29a",
        "type": "mqtt in",
        "z": "e10d9c4aa7902102",
        "name": "",
        "topic": "application/11/device/0c7e450102030345/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2fcd7b1431a62f13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "029ed37b312a3bc3"
            ]
        ]
    },
    {
        "id": "3e6add30e4892e87",
        "type": "mqtt in",
        "z": "e10d9c4aa7902102",
        "name": "",
        "topic": "application/11/device/0c7e450102030346/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2fcd7b1431a62f13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "159ed4c554fe2519"
            ]
        ]
    },
    {
        "id": "b6156428a0e7bdeb",
        "type": "join",
        "z": "e10d9c4aa7902102",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.object.mydata",
        "propertyType": "msg",
        "key": "payload.object.mydata.presence",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "be5d5c4d66480b78"
            ]
        ]
    },
    {
        "id": "3628a7ddbcea0101",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 9",
        "func": "var sensor1 = msg.payload.sensor1 ? msg.payload.sensor1.Presence : 0;\nvar sensor2 = msg.payload.sensor2 ? msg.payload.sensor2.Presence : 0;\nvar sensor3 = msg.payload.sensor3 ? msg.payload.sensor3.Presence : 0;\n\nvar location = {\n    zone: 0,   // Default value if no condition is met\n    movement: false  // Default value if no condition is met\n};\n\nif (sensor1 == 1 && sensor2 == 1 && sensor3 == 1) {\n    location.zone = 7;\n    location.movement = true;\n} else if (sensor1 == 1 && sensor2 == 0 && sensor3 == 0) {\n    location.zone = 1;\n    location.movement = true;\n} else if (sensor1 == 0 && sensor2 == 1 && sensor3 == 0) {\n    location.zone = 2;\n    location.movement = true;\n} else if (sensor1 == 0 && sensor2 == 0 && sensor3 == 1) {\n    location.zone = 3;\n    location.movement = true;\n} else if (sensor1 == 1 && sensor2 == 1 && sensor3 == 0) {\n    location.zone = 4;\n    location.movement = true;\n} else if (sensor1 == 1 && sensor2 == 0 && sensor3 == 1) {\n    location.zone = 5;\n    location.movement = true;\n} else if (sensor1 == 0 && sensor2 == 1 && sensor3 == 1) {\n    location.zone = 6;\n    location.movement = true;\n}\n\n// Send the result to the next node\nmsg.payload = location;\nnode.send(msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 820,
        "wires": [
            [
                "11cf301cfb1c2b33",
                "5dd1bb5a1436c289"
            ]
        ]
    },
    {
        "id": "11cf301cfb1c2b33",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 780,
        "wires": []
    },
    {
        "id": "a29f71ac737896bf",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 10",
        "func": "// Copy the current content of msg.payload.object.mydata into a new variable\nvar mydata = msg.payload.object.mydata;\n\n// Add the sensorID indicator with the desired value\nmydata.sensorID = 1;  // You can change the value of sensorID as needed\n\n// Update the mydata field with the new object\nmsg.payload.object.mydata = mydata;\n\n// Return the modified message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "c9f302339d0c7451",
                "53eafd0c8d743f08",
                "b6156428a0e7bdeb"
            ]
        ]
    },
    {
        "id": "63d096ed56896c8c",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 11",
        "func": "// Copy the current content of msg.payload.object.mydata into a new variable\nvar mydata = msg.payload.object.mydata;\n\n// Add the sensorID indicator with the desired value\nmydata.sensorID = 2;  // You can change the value of sensorID as needed\n\n// Update the mydata field with the new object\nmsg.payload.object.mydata = mydata;\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "d8125fdc8f607ac8",
                "b84d9bde93b0053b",
                "b6156428a0e7bdeb"
            ]
        ]
    },
    {
        "id": "45edb729dd0d863e",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 12",
        "func": "// Copy the current content of msg.payload.object.mydata into a new variable\nvar mydata = msg.payload.object.mydata;\n\n// Add the sensorID indicator with the desired value\nmydata.sensorID = 3;  // You can change the value of sensorID as needed\n\n// Update the mydata field with the new object\nmsg.payload.object.mydata = mydata;\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 700,
        "wires": [
            [
                "1cda06f0f7c34d5a",
                "f7c9ca27409a27b9",
                "b6156428a0e7bdeb"
            ]
        ]
    },
    {
        "id": "be5d5c4d66480b78",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 13",
        "func": "var mydataArray = msg.payload.object.mydata;\nvar sensor1 = null;\nvar sensor2 = null;\nvar sensor3 = null;\n\nfor (var i = 0; i < mydataArray.length; i++) {\n    var currentObject = mydataArray[i];\n\n    if (!currentObject) {\n        // If currentObject is null, replace it with an object with Presence: 0\n        currentObject = { Presence: 0 };\n    } else {\n        // If an unexpected sensorID value is encountered, replace sensorID with 0\n        if (currentObject.sensorID === undefined || currentObject.sensorID === null) {\n            currentObject.sensorID = 0;\n        }\n    }\n\n    // Assign to respective sensors\n    if (currentObject.sensorID === 1) {\n        sensor1 = currentObject;\n    } else if (currentObject.sensorID === 2) {\n        sensor2 = currentObject;\n    } else if (currentObject.sensorID === 3) {\n        sensor3 = currentObject;\n    }\n}\n\nvar filteredResults = {\n    sensor1: sensor1,\n    sensor2: sensor2,\n    sensor3: sensor3\n};\n\nmsg.payload = filteredResults;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 820,
        "wires": [
            [
                "3628a7ddbcea0101",
                "4fdfc458bcbb5bf4"
            ]
        ]
    },
    {
        "id": "5dd1bb5a1436c289",
        "type": "mqtt out",
        "z": "e10d9c4aa7902102",
        "name": "",
        "topic": "SAE51/localisation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9a75ba4b3112b9a",
        "x": 1810,
        "y": 920,
        "wires": []
    },
    {
        "id": "f7c9ca27409a27b9",
        "type": "function",
        "z": "e10d9c4aa7902102",
        "name": "function 8",
        "func": "const axios = global.get('axios');\n\nfunction send_to_database(values) {\n    const url = \"http://sae51.rt-blagnac.fr/api/api.php\";\n    const data = {\n        token: \"zfLMqQseDneEogUe52avGbBdJ8RATdCi9B4eag8cjPy8Qu82qkdffFYXwCcz3n3kV6K9wAeQY2nA6a6UGK38syHwLLfu632FoJ6X\",\n        values: values.join(',')\n    };\n\n    const headers = {\n        'Content-Type': 'application/x-www-form-urlencoded'\n    };\n\n    axios.post(url, data, { headers })\n        .then((response) => {\n            if (response.status === 201) {\n                // Request successful\n            }\n        })\n        .catch((error) => {\n            console.error(`Error ${error.response.status}: ${error.response.data}`);\n        });\n}\n\n// 1 = INFO, 2 = Action, 3 = CRITICAL ALERT\nvar presence = msg.payload.object.mydata.Presence;\nvar batteryLevel = msg.payload.object.mydata.Battery;\nif (batteryLevel > 50) {\n    const values = [3, batteryLevel, \"BATTERIE\", 1];\n    send_to_database(values);\n} else if (batteryLevel <= 50 && batteryLevel > 25) {\n    const values = [3, batteryLevel, \"BATTERIE\", 2];\n    send_to_database(values);\n} else if (batteryLevel <= 25) {\n    const values = [3, batteryLevel, \"BATTERIE\", 3];\n    send_to_database(values);\n}\nconst values = [3, presence, \"\", 1];\nsend_to_database(values);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b8be05f94c4d8333",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b39e63956dad801",
        "type": "json",
        "z": "e10d9c4aa7902102",
        "name": "",
        "property": "payload.object.mydata",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "a29f71ac737896bf",
                "b8be05f94c4d8333"
            ]
        ]
    },
    {
        "id": "029ed37b312a3bc3",
        "type": "json",
        "z": "e10d9c4aa7902102",
        "name": "",
        "property": "payload.object.mydata",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 600,
        "wires": [
            [
                "63d096ed56896c8c"
            ]
        ]
    },
    {
        "id": "159ed4c554fe2519",
        "type": "json",
        "z": "e10d9c4aa7902102",
        "name": "",
        "property": "payload.object.mydata",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 700,
        "wires": [
            [
                "45edb729dd0d863e"
            ]
        ]
    },
    {
        "id": "4fdfc458bcbb5bf4",
        "type": "debug",
        "z": "e10d9c4aa7902102",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 900,
        "wires": []
    },
    {
        "id": "2fcd7b1431a62f13",
        "type": "mqtt-broker",
        "name": "MQTT Publique",
        "broker": "chirpstack.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9a75ba4b3112b9a",
        "type": "mqtt-broker",
        "name": "Privé",
        "broker": "192.168.45.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
