Groupe Monitoring/habitude.json
[
    {
        "id": "8f9ececfc7fc6898",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f088d1fb3a58f711",
        "type": "mqtt in",
        "z": "8f9ececfc7fc6898",
        "name": "ecoute sur le topic habitude",
        "topic": "/SDB/habitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2bd33c28775b437",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "9a421d3605d8db31"
            ]
        ]
    },
    {
        "id": "9a421d3605d8db31",
        "type": "change",
        "z": "8f9ececfc7fc6898",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Habitude prolongée, est-ce que tout va bien ?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "4bc6be096ad8ece4"
            ]
        ]
    },
    {
        "id": "4bc6be096ad8ece4",
        "type": "mqtt out",
        "z": "8f9ececfc7fc6898",
        "name": "publication notification",
        "topic": "api/1/room/livingroom/voice/say/id/1/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5912842926cf20e",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "c2bd33c28775b437",
        "type": "mqtt-broker",
        "name": "Privée",
        "broker": "192.168.45.155",
        "port": "1883",
        "tls": "d76bd836b3a9f091",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5912842926cf20e",
        "type": "mqtt-broker",
        "name": "Broker MIB",
        "broker": "192.168.16.150",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d76bd836b3a9f091",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]
